
.widgetdiv {
    background-color: white;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.column-full {
    height: calc(100% - 30px);
}

.better-item {
    border-bottom: 1px solid white;
    width: 100%;
    margin: 0px;
    border: none;
}

.positionsButton{
    border-bottom: 1px solid white;
    margin: 0px;
    border: none;
}

.dom-item {
    width: 49%;
    display: flex;
    text-align: center;
}

.hor-div {
    display: flex;
    text-align: center !important;
}


body {
    background-color: #E0E3EB;
}

.better-list {
    list-style-type: none;
    height: 100%;
    padding-left: 0px;
    text-align: center;
}


#lower_dom {
    margin: 0px;
    border-top: black solid 2px;
    height: Calc(50% - 20px);
    background-color: #1E88E5;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

#upper_dom {
    margin: 0px;
    border-bottom: black solid 2px;
    height: Calc(50% - 40px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    background-color: #FF5252;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#domStockPrice {
    margin: 0px;
    text-align: center;
}




.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}